h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

p {
    padding: 0 2rem;
    text-align: justify;
}

img {
    display: none;
}

@media (min-width: 768px) {
    .about-content {
        padding: 0 9rem;
    }

    p {
        padding: 0;
    }

    img {
        display: block;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .about-content {
        padding: 0 6rem;
    }

    p {
        padding: 0;
    }

    img {
        display: block;
        width: 100%;
    }
}