<div class="card">
  <img
    [src]="srcImg"
    class="card-img-top bg-img"
    id="card-img-top"
    [alt]="altImg"
    [routerLink]="['/accueil/produit', productId]"
  />
  <div class="card-body">
    <h2
      class="card-title"
      id="card-title"
      [routerLink]="['/accueil/produit', productId]"
    >
      {{ productTitle }}
    </h2>
    <p class="price" id="price">
      {{ price | currency : "EUR" : "symbol" : "1.2-2" }}
    </p>
    <button class="btn-shopping-cart" (click)="addToCart()">
      Ajouter au panier
    </button>
  </div>
</div>
