<div class="product-page container">
  <div class="div-img">
    <img [src]="product.srcImg" class="product-img" [alt]="product.altImg" />
    <div class="border-img"></div>
  </div>
  <section class="product-content">
    <h2 class="product-title">{{ product.productTitle }}</h2>
    <p class="product-text">{{ product.productDescription }}</p>
    <div class="price">
      {{ product.price | currency : "EUR" : "symbol" : "1.2-2" }}
    </div>
    <button (click)="addToCart()">Ajouter au panier</button>
  </section>
</div>
