@font-face {
    font-family: "Bubbleboddy_neue";
    src: url('./assets/fonts/Bubbleboddy_neue/BubbleboddyNeue-Bold-Trial.woff'),
        url('./assets/fonts/Bubbleboddy_neue/BubbleboddyNeue-ExtraBold-Trial.woff'),
        url('./assets/fonts/Bubbleboddy_neue/bubbleboddyneue-light-trial.woff'),
        url('./assets/fonts/Bubbleboddy_neue/bubbleboddyneue-regular-trial.woff'),
        url('./assets/fonts/Bubbleboddy_neue/bubbleboddyneue-thin-trial.woff');
    src: url('./assets/fonts/Bubbleboddy_neue/BubbleboddyNeue-Bold Trial.ttf') format('truetype'),
        url('./assets/fonts/Bubbleboddy_neue/BubbleboddyNeue-ExtraBold Trial.ttf') format('truetype'),
        url('./assets/fonts/Bubbleboddy_neue/BubbleboddyNeue-Light Trial.ttf') format('truetype'),
        url('./assets/fonts/Bubbleboddy_neue/bubbleboddyneue-regular trial.ttf') format('truetype'),
        url('./assets/fonts/Bubbleboddy_neue/BubbleboddyNeue-Thin Trial.ttf') format('truetype');
}

h1,
h2,
h3,
h4 {
    font-family: 'Bubbleboddy_neue', serif;
}

p {
    font-family: 'Comfortaa', sans-serif;
}