<div class="home-page container">
  <div class="banner">
    <section class="presentation">
      <h1>Découvrez nos figurines faites main!</h1>
      <p class="presentation-text">
        Chez nous, c'est tout un village de figurines de petits gaulois qui vous
        attend. Tous les fans des aventures d'Astérix et Obélix trouvent leur
        bonheur Au petit village.
      </p>
    </section>
    <div class="searching-features">
      <input type="text" class="search-input" placeholder="Rechercher" />
      <button class="filtrer col-4">Filtrer</button>
    </div>
  </div>
  <!--Futur catalogue en dupliquant cette card-->
  <section class="catalogue row justify-content-center gap-2 row-gap-3">
    <app-card
      class="col-5"
      id="card-catalogue"
      *ngFor="let card of cards; let i = index"
      [srcImg]="card.srcImg"
      [altImg]="card.altImg"
      [cardTitle]="card.cardTitle"
      [price]="card.price"
    ></app-card>
  </section>
</div>
