<div class="home container">
  <section class="presentation">
    <h1>Découvrez nos figurines faites main!</h1>
    <p class="presentation-text">
      Chez nous, c'est tout un village de figurines de petits gaulois qui vous
      attend. Tous les fans des aventures d'Astérix et Obélix trouvent leur
      bonheur Au petit village.
    </p>
  </section>
  <input type="text" class="search-input" placeholder="Rechercher" />
  <!--Futur catalogue en dupliquant cette card-->
  <section class="catalogue row">
    <button class="filtrer col-4">Filtrer</button>
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Figurine 1</h2>
        <p class="card-text">Prix</p>
        <a href="#" class="btn">Ajouter au panier</a>
      </div>
    </div>
  </section>
</div>
